@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --nav-bkg-clr: #161524;
    --purple-1: #29274E;
    --purple-2: #8A86D0;
    --bkg-1: #FFF;
    --bkg-2: #E5E5E9;
    --active-bkg: #29284E;
    --inactive-nav: #999DBA;
    --text-1: #000;
    --text-2: #939393;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    height: 100dvh;
    background-color: var(--bkg-2);
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 400px 1fr;
}

.sidebar {
    grid-row: 1 / -1;
    padding-bottom: 3rem;
    height: 100%;
    background-color: var(--nav-bkg-clr);
    color: var(--inactive-nav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand {
    padding: 3rem 0 3rem  3rem;
    color: var(--purple-2);
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1.75rem;
}

.brand .logo {
    background-color: var(--purple-2);
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.brand h2 {
    font-size: 3.3rem;
    font-weight: 400;
}

.sidebar ul {
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 1px;
    list-style: none;
    padding: 0;
}

.sidebar ul li label{
    padding-left: 5rem;
    height: 9rem;
    display: flex;
    align-items: center;
    gap: 5rem;
}

.sidebar ul label img {
    height: 35px;
}

.sidebar input[type="radio"] {
    display: none;
}

.sidebar input[type="radio"]:checked + label{
    color: var(--purple-2);
    background-color: var(--active-bkg);
    border-left: 6px solid var(--purple-2);
    padding-left: calc(5rem - 6px);
}

.sidebar input[type="radio"]:checked + label img {
    filter: invert(52%) sepia(30%) saturate(500%) hue-rotate(204deg) brightness(100%) contrast(93%);
}

main {
    padding: 0 100px;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    justify-items: center; 
    align-items: center;
}

.welcome {
    grid-row-start: 1;
    align-self: self-end;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.welcome .greeting {
    display: flex;
    align-items: center;
    gap: 30px;
}

.welcome .greeting .pfp {
    background-color: var(--purple-2);
    height: 145px;
    width: 145px;
    border-radius: 50%;
}

.welcome .greeting h3 {
    font-weight: 400;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.welcome .greeting h3 .name {
    font-size: 3.3rem;
}

.welcome .greeting h3 .at {
    color: var(--purple-2);
}

.welcome .btn-group {
    display: flex;
    gap: 25px;
}

.welcome .btn-group .btn,
.title {
    background-color: var(--purple-2);
    color: white;
    font-size: 1.5rem;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    grid-row-start: 2;
    background-color: var(--bkg-1);
    width: 100%;
    height: 110px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.searchbar > *:not(hr) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}

.searchbar hr {
    height: 80%;
}

.searchbar img {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.searchbar .search {
    height: 100%;
    width: inherit;
}

.searchbar .search input {
    font-size: 2rem;
    height: 100%;
    width: 100%;
    border: none;
}

.searchbar .search input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.searchbar .search input:focus-visible {
    outline: none;
    border: none;
}

.searchbar .profile p {
    font-size: 1.75rem;    
}

.searchbar .profile .pfp {
    background-color: var(--purple-2);
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.your-projects {
    width: 100%;
    justify-self: self-start;
    align-self: self-start;
}

.your-projects .projects {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 385px);
    grid-template-rows: repeat(2, 300px);
    gap: 40px;
}

.projects .project {
    text-align: left;
    padding: 28px;
    width: 385px;
    height: 300px;
    background-color: var(--bkg-1);
    border-left: 12px solid var(--purple-2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.projects .project-info {
    width: 100%;
}

.projects .project-info h2 {
    font-size: 25px;
    font-weight: 400;
}

.projects .project-info p {
    color: var(--text-2);
    width: 22ch;
    font-size: 18px;
    font-weight: 300;
}

.projects .actions {
    display: flex;
    gap: 32px;
}

.projects .actions img {
    cursor: pointer;
}

